.fc-day-sun a {
	color: red;
}

.fc-day-sat a {
	color: blue;
}

.fc-toolbar-chunk {
	display: flex; 
	align-items: center; 
}

.calendar {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.close {
	margin-bottom: 5px;
}

.fc .fc-scrollgrid-section  {
    overflow-y: hidden;
}

