.fc-day-sun a {
	color: red;
}

.fc-day-sat a {
	color: blue;
}

.fc-toolbar-chunk {
	display: flex; 
	align-items: center; 
}

.calendar {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.side-bar-title {
	font-weight : bold;
}
#external-events {
	background-color: #BCC0F2;
	padding: 15px;
	margin-top : 60px;
	width: 100%;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	max-height: -webkit-fill-available
}

.extra-event-list {
	display: grid;
	height: auto;
	grid-template-columns: 1fr;
	row-gap: 5px;
	
}

.extra-event-obj {
	display:grid;
	grid-template-columns: 4fr 1fr;
}

.extra-event-block {
	background-color : lightgrey;
	border-radius: 5px;
	margin : 3px;
	cursor: move;
}

.extra-event-input {
	width: 100%; 
	height: 3em; 
	resize: none;
}

.close {
	margin-bottom: 5px;
}
.extra-event-add {
	background-color: #868eff;
	padding: 5px 10px;
 	color: rgb(0, 0, 0);
	border-style: none;
  	border-radius: 5px;
  	font-weight: bold;
  	font-size: 14px;
  	line-height: 16px;
}